<form action="/word_frequency">
  
  <div class="form-group">
    <label for="to_find">What word are you looking for?</label>
    <input id="to_find" name="to_find" class="form-control" type="text">
  </div>
  
  <div class="form-group">
    <label for="to_search">What text are you searching?</label>
    <textarea id="to_search" name="to_search" class="form-control" type="text" rows="8" placeholder="Paste the text you would like to search here."></textarea>
  </div>
  
  <button type="submit" class="btn">Go</button>
   
</form>