<!DOCTYPE HTML>
<html>
  <head>
    <title>Word Frequency</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="styles.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <h1>Pete Repeat</h1>
      <h4>a different kind of word search</h4>
      <%= yield %>
    </div>
  </body>
</html>
